main{
    margin: auto;
    max-width: 1000px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.378);
}

img:hover{
    cursor: pointer;
}

img{
    height: 35px;
    width: 35px;
}

table{ 
    padding: 5px;
    border-spacing: 15px;
    text-align: center;
}

table.table-items{
    width: 1000px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.273);
    border-top: 1px solid rgba(0, 0, 0, 0.273);
    
}

td{
    width: 120px;
}

div.crud-title-container{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    background-color: blue;
    color: white;
}

section.table-items-container{
    height: 300px;
}


input{
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

input:hover{
    cursor: pointer;
}

#btn-remover, #btn-consultar, #btn-editar{
    color: white;
}

input#btn-remover{
    background-color: red;
}

input#btn-consultar{
    background-color: blue;
}

input#btn-editar{
    background-color: green;
}


section .modal-title{
    background-color: blue;
    color: white;
}