{% load static %}
<link rel="stylesheet" href="{% static 'global/partials/header.css' %}">

<header>
    
    <figure class="img-container">
        <img onclick="appear()" src="{% static 'global/img/menu-img.png' %}" alt="" class="img-menu">
    </figure>
    <h1 class="header-title" onclick="alertaUsuario()">Controle de Estoque</h1>

    <div class="menu-item">
        <section class="menu-title">
            <a href="#" class="item">Menu</a>
            <a onclick="disappear()" href="#" class="item">X</a>
        </section>
        
        <a href="#" class="item">Cadastrar</a>
        <a href="#" class="item">Sobre</a>
    </div>
    <script src="{% static 'stock/js/menu-bar.js' %}"></script>
</header>