{% load static %}
<link rel="stylesheet" href="{% static 'stock/css/crud-view.css' %}">

<main>
    <div class="crud-title-container">
        <h2 class="crud-title">Seus Produtos</h2>
    </div>
    <section class="table-items-container">
        <table class="table-items">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tamanho</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Garrafa</th>
                    <td id="tamanho">M</td>
                    <td id="cor">Azul</td>
                    <td id="quantidade">2</td>
                    <td id="preco">R$29.99</td>

                    <td><input  id="btn-consultar"  type="button" value="Consultar"></td>
                    <td><input id="btn-editar" type="button" value="Editar"></td>
                    <td><input onclick="remover()" id="btn-remover" type="button" value="Remover"></td>
                </tr>  

                <div id="remove" class="modal">
                    <section>
                        <h3 class="modal-title">Remover Produto</h3>
                    </section>
                    <p class="modal-description">Você não poderá desfazer essa ação!</p>
                    <input type="button" value="Remover">
                    <input type="button" value="Cancelar">
                </div>
                
            </tbody>
        </table>
    </section>


    
    

    <script src="{% static 'stock/js/modal.js' %}"></script>
</main>